<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>포도밭거북이</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>kakaoec4ffed9033db1dfcee94288488ba2cb</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>KAKAO_APP_KEY</key>
		<string>ec4ffed9033db1dfcee94288488ba2cb</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>kakaokompassauth</string>
			<string>storykompassauth</string>
			<string>kakaolink</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true />
				</dict>
			</dict>
		</dict>
		<key>BGTaskSchedulerPermittedIdentifiers</key>
		<array>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>external-accessory</string>
			<string>processing</string>
			<!-- <string>remote-notification</string> -->
			<string>location</string>
			<!-- <string>bluetooth-central</string>
			<string>bluetooth-peripheral</string> -->
			<string>audio</string>
		</array>
		<key>NSHealthShareUsageDescription</key>
		<string>건강 데이터를 쓸때 필요해요.</string>
		<key>NSHealthUpdateUsageDescription</key>
		<string>건강 데이터를 받아오는데 필요해요.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Program requires GPS to track cars and job orders</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Program requires GPS to track cars and job orders</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>내주변 정확한 관광지 정보 제공을 위해 필요해요.</string>
		<key>UIAppFonts</key>
		<array>
			<string>RF.ttf</string>
			<string>fonts/RF.ttf</string>
			<string>fonts/Pretendard-Regular.ttf</string>
			<string>fonts/JGaegujaengyi-Bold.otf</string>
			<string>fonts/JGaegujaengyi-Light.otf</string>
			<string>fonts/JGaegujaengyi-Medium.otf</string>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>audio</string>
			<string>external-accessory</string>
			<string>location</string>
			<string>processing</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen.storyboard</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
	</dict>
</plist>